$gray1:#505050;
$gray2: #707070;
$gray3:  #aaaaaa;
$gray4: #b7b7b7;
$gray5: #e9e9e9;

$colorDefault: $gray1;
$colorLight: $gray4;

$primary: #DB2017;
$secondColor: #f1ece8;

$borderDefaultColor: $gray5;
