
@mixin flexRow() {
  display: flex;
  flex-direction: row;
}

@mixin flexRowWrap() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnWrap() {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}