@import 'styles/root.scss';

#result-wrap {
  height: 100%;

  header {
    @include flexRow();
    align-items: center;
    height: 50px;
    background: $primary;
    padding: 0 10px;

    ._logo {
      svg {
        height: 40px;
      }
    }

    button {
      min-width: initial;
      background: transparent;
      box-shadow: none;
      color: #fff;
      padding: 4px 8px;
      margin-left: auto;
    }
  }

  main {
    @include flexColumn();
    height: calc(100% - 50px);

    // 등급 결과창
    .ratingResultWrap {
      @include flexRow();
      justify-content: center;
      align-items: center;
      height: 300px;
      background: $secondColor;
      overflow: hidden;

      .imgWrap {
        width: 300px; height: 300px;
        margin: 50px 50px 0 0;

        img {
          width: 100%; height: 100%;
        }
      }

      .textWrap {
        .title {
          font-size: 48px;
          line-height: 1.2;
          margin-bottom: 24px;
          .bold {
            font-weight: $fontWeightImportant;
            color: $primary;
          }
        }

        .subText {
          font-size: 24px;
        }
      }
    }

    // filter
    .filterWrap {
      @include flexRow();
      align-items: center;
      height: 30px;
      padding: 24px 40px;

      .ratingFilter {
        @include flexRow();
        align-items: center;
        margin-left: auto;

        .title {
          font-weight: $fontWeightImportant;
          margin-right: 10px;
        }

        .dropDownMenuWrap {
          button {
            @include flexRow();
            align-items: center;
            position: relative;
            width: 100%;
            flex: 0 0 100%;
            border: 1px solid $borderDefaultColor;
            background: transparent;
            text-align: left;
            padding: 5px 7px;
            cursor: pointer;

            &::after {
              display: inline-block;
              content: '';
              border-top: 5px solid $gray1;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              margin-left: 5px;
            }
          }

          .options {
            @include flexColumn();
            position: absolute;
            top: calc(100% + 1px);
            left: 0;
            width: 100%;
            background: #fff;
            border-radius: 0 0 6px 6px;
            box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.25);
            animation: fadeOn .35s forwards;
            z-index: 10;

            li {
              height: 30px;
              line-height: 30px;
              border-bottom: 1px solid $borderDefaultColor;
              text-align: center;
              text-overflow: ellipsis;
              word-break: break-all;
              white-space: nowrap;
              padding: 0 10px;
              overflow: hidden;

              &:hover {
                background: $primary;
                color: #fff;
              }

              &:last-child {
                border-bottom: none;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
              }
            }
          }
        }
      }
    }

    // 등급별 음식
    .contentWrap {
      @include flexRowWrap();
      width: 100%; height: 100%;
      padding: 0 40px;
      overflow-y: auto;

      .item {
        @include flexRowWrap();
        justify-content: center;
        width: calc(100% / 5);
        margin-bottom: 20px;

        .itemWrap {
          @include flexColumn();
          justify-content: center;
          align-items: center;
          width: 200px; height: 225px;
          border: 1px solid $borderDefaultColor;
  
          .imgWrap {
            width: 70%; height: 50%;
            margin-bottom: 12px;
            img {
              width: 100%; height: 100%;
            }
          }
          .manufacturer {
            font-size: $fontSizeLarge;
            margin-bottom: 8px;
          }
          .name {
            font-size: 18PX;
          }
        }
      }
    }
  }
}